<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal</title>
</head>
<body>
    <div>
        <form action="{% url 'journal:new_entry' %}" method="post">
            {% csrf_token %}
            <label for="entry">Today's Entry: </label>
            <input id="entry" type="text" name="entry" value="{{ entry_text }}">
            <input type="submit" value="OK">
{#            <fieldset>#}
{#                <legend><h1>Enter a Journal entry for the day!</h1></legend>#}
{#                <input type="text" id="entry" name="entry" required />#}
{#            </fieldset>#}
        </form>
    </div>
    <div>
        {% if journal_entries %}
        <ul>
            {% for entry in journal_entries %}
{#                <li><a href="{% url 'detail' entry.id %}">{{ entry.entry_text }}</a></li>#}
                <li>{{ entry.entry_text }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No entries yet!</p>
        {% endif %}
    </div>
</body>
</html>